<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EliteFIPServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EliteFIPServer.Properties.Settings>
            <setting name="MatricPin" serializeAs="String">
                <value />
            </setting>
            <setting name="MatricClient" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImmediateStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnablePanelServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PanelServerPort" serializeAs="String">
                <value>4545</value>
            </setting>
            <setting name="MatricApiPort" serializeAs="String">
                <value>50300</value>
            </setting>
        </EliteFIPServer.Properties.Settings>
    </userSettings>
</configuration>