body {
    background-color:black;
}

td {
    color:orange;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

td.red {
    color: orange;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}
